# {{ ansible_managed }}

[Unit]
Description=wetty

[Service]
Type=exec
WorkingDirectory={{ wetty_js_path }}
ExecStart=/bin/bash -c '/usr/bin/node index.js -p {{ wetty_port }} --base /shell --sshauth keyboard-interactive'
User=nobody

[Install]
WantedBy=multi-user.target
